<div class="card mb-4">
    <img class="card-img-top img-fluid mx-auto" [src]="product()?.image" alt="Card image">
    <div class="card-body">
        <h4 class="card-title text-truncate">{{ product()?.title }}</h4>
        <p class="card-text text-truncate">{{ product()?.description }}</p>
        <p>Category: {{ product()?.category }}</p>
        <p>Price: ${{ product()?.price }}</p>
        <div class="d-flex justify-content-between">
            @if (isInCart() === false){
            <a class="btn btn-primary" (click)="onAdd(product())">
                {{ cartStore.loadingProductId() === product()?.id ? 'Adding to cart...' : 'Add to Cart' }}
            </a>
            } @else {
            <a class="btn btn-warning" routerLink="/cart">Go to cart</a>
            }
            <a routerLink="/products/{{ product()?.id }}" *appShowIf="config().showViewProduct"
                class="btn btn-secondary">View Product</a>
        </div>
    </div>

</div>