<div class="card mb-4">
    <div class="d-flex">
        @if(resolvedConfig().showLeftContent) {
        <div class="left-content">
            @for(image of productImages(); let i = $index; track i) {
            <img class="img-fluid mb-2" [ngSrc]="image" alt="Product image" width="250" height="250">
            }
        </div>
        }
        <div class="right-content">
            @if(!resolvedConfig().hideProductImage) {
            <img class="card-img-top img-fluid mx-auto cursor-pointer" routerLink="/products/{{ product()?.id }}"
                [ngSrc]="productImage()" alt="Card image" width="300" height="300">
            }
            <div class="card-body">
                <h6 class="card-title text-truncate">{{ product()?.title }}</h6>
                <p class="card-text text-truncate">{{ product()?.description }}</p>
                <p>Category: {{ product()?.category }}</p>
                <app-rating
                    [config]="{ rating: product()?.rating, cursor: true, reviewsCount: product()?.reviews?.length }"
                    (onClick)="openRatingModal()" />
                <p class="fs-4">
                    <strong class="text-success">{{product()?.discountPercentage}}%</strong>
                    <span class="text-secondary mx-2 text-decoration-line-through">{{ product()?.price }}</span>
                    <strong>${{discountedPrice()}}</strong>
                </p>
                <div class="d-flex justify-content-between">
                    @if(resolvedConfig().showAddToCart) {
                    @if (isInCart() === false){
                    <app-button [config]="{color:'primary', label: buttonLabel(), disabled : disableButton()}"
                        (onClick)="onAdd(product())">
                        <span class="material-icons" icon>
                            add_shopping_cart
                        </span>
                    </app-button>
                    } @else {
                    <app-button [config]="{color:'warning', label: 'Go to cart'}" (onClick)="navigateTo('/cart')">
                        <span class="material-icons" icon>
                            arrow_outward
                        </span>
                    </app-button>
                    }
                    }
                </div>
            </div>
        </div>
    </div>
</div>